@font-face {
  font-family: 'Stardos Stencil';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.eot');
  src: url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.eot?#iefix') format('embedded-opentype'),
       local('Stardos Stencil Regular'),
       local('Stardos-Stencil-regular'),
       url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.woff2') format('woff2'),
       url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.woff') format('woff'),
       url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.ttf') format('truetype'),
       url('/fonts/Stardos-Stencil-regular/Stardos-Stencil-regular.svg#StardosStencil') format('svg');
}


body {
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  background: black;
}

body:after {
  content: '';
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  opacity: 1;
  pointer-events: none;
  /*background: repeat url(./img/screen-pattern.gif);*/
}

table {
  color: white;
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 35px;
}

tr:first-child {
  font-size: 80px;
}

h1,
h2,
h3 {
  font-family: 'Stardos Stencil';
  font-weight: normal;
  /*animation: textglow 3s infinite alternate;*/
}

/*@keyframes textglow {
  from {
    text-shadow: 0 0 100px rgba(0,200,0,1);
    color: rgb(100, 200, 100);
  }
  to {
    text-shadow: 0 0 50px rgba(0,200,0,1);
    color: rgb(0, 200, 0);
  }
}
*/
.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(img/bg.png) center no-repeat;
}

h1 {
  text-align: center;
  color: rgb(0,200,0);
  margin-top: 150px;
  margin-bottom: 30px;
  font-size: 120px;
}

h2 {
  text-align: center;
  color: rgb(0,200,0);
  font-size: 80px;
  margin: 20px;
}

.yourTime {
  font-size: 35px;
}

h3 {
  text-align: center;
  color: rgb(0,200,0);
  margin-top: 20px;
  font-size: 40px;
}

.bjs-powered-by {
  display: none;
}

.bjs-container {
  position: fixed !important;
}

.container,
.djs-container {
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(15deg) scale(2.5);
}

.marker {
  position: absolute;
  width: 12px;
  height: 12px;
  pointer-events: none;
}
.magazine {
  position: absolute;
  top: 100px;
  right: 20px;
  transform: scale(1.5);
}

.timekeeping {
  position: fixed;
  color: white;
  bottom: 30px;
  right: 30px;
  font-size: 135px;
  text-shadow: 1px 1px 1px black;
  pointer-events: none;
}

.timekeeping-big {
  color: white;
  font-size: 300px;
  position: fixed;
  text-shadow: 0 0 20px #e0fec9, 10px -10px 30px #8cfe85, -20px -20px 40px #79ff34, 20px -30px 35px #10ec0c, -20px -40px 40px #06cd15, 0 -50px 65px #189716, 10px -70px 70px #1c450e;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  pointer-events: none;
  opacity: 0.7;
}

.scoreboard {
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.nameboard {
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}

#letterboard {
  color: white;
  text-align: center;
}
#letterboard > div {
  font-size: 30px;
  height: 70px;
  width: 6%;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  float: left;
}

.djs-container [fill="#ffffff"] {
  fill: #333;
}

.djs-container text,
.djs-container [fill="#000000"] {
  fill: #00dd00;
  /*
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0,200,0,.7) );
          filter: drop-shadow( 3px 3px 2px rgba(0,200,0,.7) );
  */
}

.djs-container [stroke="#000000"] {
  stroke: rgb(0,200,0);
}

.djs-container .bjs-powered-by {
  display: none;
}

.djs-container .djs-overlays {
  pointer-events: none;
}
